Source: imx-gst1.0-plugin
Priority: optional
Maintainer: AIY Projects <support-aiyprojects@google.com>
Section: libs
Build-Depends:
 debhelper (>=10),
 libdrm-imx-dev (>= 2.4.84+imx),
 imx-vpu-hantro-dev (=1.6.0),
 imx-vpuwrap-dev (= 4.3.4),
 libgstreamer1.0-dev (= 1.12.2+imx),
 libgstreamer-plugins-base1.0-dev (>= 1.12.2+imx),
 libgstreamer-plugins-bad1.0-dev (>= 1.12.2+imx),
 linux-headers-4.9.51-aiy (>=1),
Standards-Version: 4.1.1

Package: imx-gst1.0-plugin
Section: libs
Architecture: arm64 armhf
Priority: optional
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 imx-vpu-hantro (=1.6.0),
 imx-vpuwrap (= 4.3.4),
 gstreamer1.0-plugins-base (>= 1.12.2+imx),
 libgstreamer-plugins-base1.0-0 (= 1.12.2+imx),
 libgstreamer-plugins-bad1.0-0 (>= 1.12.2+imx),
Description: IMX GStreamer plugin.
